@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Roboto", sans-serif;
}

.container {
  max-width: 1196px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

.button1 button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b61984;
  padding: 10px 30px;
  border: 2px solid #b61984;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  transition: all 0.5s ease;
}
.button1 button:hover {
  background-color: #fff;
  color: #b61984;
}

.button2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b61984;
  padding: 10px 50px;
  border: 2px solid #b61984;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  transition: all 0.5s ease;
}
.button2 button:hover {
  background-color: #fff;
  color: #b61984;
}

.button3 button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 10px 30px;
  border: 2px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #b61984;
  transition: all 0.5s ease;
}
.button3 button:hover {
  background-color: #b61984;
  color: #fff;
}

input {
  border: none;
  outline: none;
  width: 100%;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.select-selected {
  background-color: #fff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #b61984 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #b61984 transparent;
  top: 10px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #000;
  width: 100%;
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #fff;
  color: #b61984;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

textarea {
  border: none;
  outline: none;
}

.boderInputSelectTextarea {
  border: 1px solid rgb(212, 209, 209);
  background: #fff;
  padding: 15px;
  border-radius: 30px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li a {
  color: #fff;
}

.title {
  color: #fff;
  font-weight: 700;
  font-size: 23px;
}

::placeholder {
  color: #000;
  font-family: "Roboto";
}

.header {
  background-image: url(../images/yellow_top_wave_01.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
}
.header .container .logo a img {
  cursor: pointer;
}
.header .container .nav-bar .navbar .container-fluid {
  padding: 0;
}
.header .container .nav-bar .navbar .container-fluid .collapse .navbar-nav .nav-item {
  padding: 0 40px 0 0;
}
.header .container .nav-bar .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.header .container .nav-bar .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #b61984;
}
.header .container .nav-bar .navbar .container-fluid .collapse .header-icon i {
  padding-left: 10px;
}
.header .container .nav-bar .navbar .container-fluid .collapse .header-icon i:hover {
  color: #b61984;
}
.header .container #nav_bar {
  display: none;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  background-color: #fff;
  box-shadow: rgb(226, 235, 252) 0 0 5px;
  width: 100%;
}

.carousel {
  background-image: url(../images/Violet_top_left_wave.png);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carousel .container .carousel-left {
  animation-duration: 2s;
}
.carousel .container .carousel-left p {
  color: #b61984;
  font-weight: 600;
  font-size: 17px;
}
.carousel .container .carousel-left h1 {
  color: #000;
  font-weight: 700;
  font-size: 57px;
}
.carousel .container .carousel-right {
  animation-duration: 2s;
}
.carousel .container .carousel-right img {
  overflow: hidden;
}

.main {
  background-image: url(../images/Wave_White_bottom_right_shape_01.png);
  background-color: #dcd1f0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
}
.main .container .main-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.main .container .main-row .main-col {
  padding: 20px;
  width: 25%;
  animation-duration: 2s;
}
.main .container .main-row .main-col .main-item {
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s;
}
.main .container .main-row .main-col .main-item:hover {
  box-shadow: rgb(226, 235, 252) 6px 6px 12px, rgb(255, 255, 255) -6px -6px 12px;
}
.main .container .main-row .main-col .main-item .img {
  overflow: hidden;
}
.main .container .main-row .main-col .main-item .img img {
  transition: all 1s;
  max-width: 100%;
}
.main .container .main-row .main-col .main-item .img img:hover {
  transform: scale(1.1);
}
.main .container .main-row .main-col .main-item .text {
  background-color: #fff;
  padding: 30px;
  text-align: center;
}
.main .container .main-row .main-col .main-item .text .country {
  color: #b61984;
  font-weight: 600;
  font-size: 11px;
}
.main .container .main-row .main-col .main-item .text .name {
  color: #000;
  font-weight: 700;
  font-size: 23px;
  padding: 10px 0;
}
.main .container .main-row .main-col .main-item .text .introduce {
  color: #000;
  font-weight: 400;
  font-size: 15px;
  font-family: "Roboto";
  line-height: 30px;
}

.contact-us {
  background-image: url(../images/accent_bottom_wave_01.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
}
.contact-us .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us .container .contact-us-left img {
  max-width: 100%;
}
.contact-us .container .contact-us-right {
  width: 35%;
  border: none;
  border-radius: 10px;
  box-shadow: rgb(226, 235, 252) 6px 6px 12px, rgb(255, 255, 255) -6px -6px 12px;
  background: #fff;
  padding: 30px;
}
.contact-us .container .contact-us-right .title p {
  color: #000;
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 20px;
  text-align: center;
}
.contact-us .container .contact-us-right form {
  font-family: "Roboto";
  font-size: 11px;
}
.contact-us .container .contact-us-right form .name-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 10px;
  color: #000;
  font-weight: 400;
  font-size: 15px;
}
.contact-us .container .contact-us-right form .name-email .input-name {
  width: 48%;
  display: flex;
  text-align: center;
}
.contact-us .container .contact-us-right form .name-email .input-name i {
  padding-right: 15px;
  color: #b61984;
  padding-top: 2px;
}
.contact-us .container .contact-us-right form .name-email .input-email {
  width: 48%;
  display: flex;
  text-align: center;
}
.contact-us .container .contact-us-right form .name-email .input-email i {
  padding-right: 15px;
  color: #b61984;
  padding-top: 2px;
}
.contact-us .container .contact-us-right form .input-language {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000;
  font-weight: 400;
  font-size: 15px;
}
.contact-us .container .contact-us-right form .input-language i {
  color: #b61984;
}
.contact-us .container .contact-us-right form .input-textarea {
  color: #000;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  position: relative;
}
.contact-us .container .contact-us-right form .input-textarea i {
  color: #b61984;
  position: absolute;
  top: 30px;
  left: 15px;
  font-size: 13px;
}
.contact-us .container .contact-us-right form .input-textarea textarea {
  padding: 10px 10px 10px 20px;
  width: 100%;
}

.footer {
  background-image: url(../images/footer_background.jpg);
  background-color: #aa017e;
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  padding-top: 200px;
}
.footer .container .footer-row {
  display: flex;
  margin: 0 -15px;
}
.footer .container .footer-row .col1 {
  width: 25%;
  padding: 0 15px;
}
.footer .container .footer-row .col1 .col-inner .text {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Roboto";
}
.footer .container .footer-row .col1 .col-inner .text i {
  padding-right: 10px;
}
.footer .container .footer-row .col1 .col-inner .text2 {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Roboto";
}
.footer .container .footer-row .col1 .col-inner .text2 :hover {
  color: #000;
}
.footer .container .footer-row .col1 .col-inner .text2 i {
  padding-right: 10px;
}
.footer .container .footer-row .col2 {
  width: 25%;
  padding: 0 15px;
}
.footer .container .footer-row .col2 .col-inner ul {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto";
}
.footer .container .footer-row .col2 .col-inner ul li {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #990171;
}
.footer .container .footer-row .col2 .col-inner ul li :hover {
  color: #e9bcdd;
}
.footer .container .footer-row .col3 {
  width: 25%;
  padding: 0 15px;
}
.footer .container .footer-row .col3 .col-inner .input-email-footer {
  background-color: #aa017e;
  text-align: center;
  border: 1px solid #b31b8b;
}
.footer .container .footer-row .col3 .col-inner .input-email-footer input {
  text-align: center;
  background: #aa017e;
  color: #fff;
}
.footer .container .footer-row .col3 .col-inner .button3 button {
  width: 100%;
  padding: 15px;
}

/* Responsive */
/*           xs  <576px	đt dọc xs
    767px >  sm  ≥576px  đt ngang sm
    991px >  md  ≥768px  tablet md
    1199px>  lg  ≥992px  desktop
             xl  ≥1200px 

/* container */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1260px) {
  .container {
    max-width: 1230px;
  }
}
@media (min-width: 1340px) {
  .container {
    max-width: 1196px;
  }
}
@media (max-width: 1339px) {
  .container {
    max-width: 1196px;
  }
}
@media (max-width: 1199px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  .carousel .container {
    display: block;
  }
  .carousel .container .carousel-left {
    padding-top: 50px;
  }
  .carousel .container .carousel-right {
    text-align: center;
  }
  .main .container .main-row .main-col .main-item .text {
    height: 300px;
  }
  .footer {
    padding-top: 40px;
  }
  .footer .container .footer-row {
    flex-wrap: wrap;
  }
  .footer .container .footer-row .col1,
.footer .container .footer-row .col2 {
    width: 33.3333333333%;
  }
  .footer .container .footer-row .col3 {
    display: block;
    text-align: center;
    margin: auto;
  }
}
@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    right: -15px;
    top: 73px;
    width: 100vw;
    padding: 15px;
    background-color: #fff;
    text-align: center;
  }
  .button1 {
    width: 100%;
    margin-bottom: 15px;
  }
  .button1 button {
    margin: auto;
  }
  .navbar-nav .nav-item {
    padding-right: 0 !important;
  }
  .main {
    height: auto;
  }
  .main .container .main-row .main-col {
    width: 50%;
  }
  .main .container .main-row .main-col .main-item .text {
    height: auto;
  }
  .contact-us {
    padding-top: 0;
  }
  .contact-us .container {
    display: block;
  }
  .animate__fadeInLeft {
    text-align: center;
  }
  .contact-us .container .contact-us-left img {
    max-width: 50%;
  }
  .contact-us .container .contact-us-right {
    width: 50%;
    margin: auto;
    margin-top: 50px;
  }
  .footer .container .footer-row .col3 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .carousel .container .carousel-right img {
    width: 60%;
  }
}
@media (max-width: 575px) {
  .main .container .main-row .main-col {
    width: 100%;
  }
  .contact-us .container .contact-us-left img {
    max-width: 100%;
  }
  .contact-us .container .contact-us-right {
    width: 100%;
  }
  .footer .container .footer-row .col1, .footer .container .footer-row .col2 {
    width: 100%;
    padding-left: 250px;
  }
  .footer {
    background-size: auto;
    height: auto;
    padding-bottom: 100px;
  }
  .footer .container .footer-row .col3 {
    padding-top: 30px;
  }
}